 @use "sass:color";
$color-primary: #456268;
$color-secondary: #C4A484;
$color-complementary: color.complement(#456268);
$color-primary-lighter: color.scale(#456268, $lightness: 70%);
$color-primary-desaturated: color.scale(#456268, $saturation: -50%);

header {
    background-color: $color-primary;
    color: #F5FBE6;
}

body {
    background-color:  #faf8f2;
}

section {
    background-color: $color-complementary;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    color: #faf8f2;
}

#photoWrapper{
    background-color: $color-primary-desaturated;
    padding: 1rem;
    width: 50%;
}