@use "base";

@keyframes pictureTransform {
    0%{
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
       transform: translate(50px, 0px);
       opacity: 0.8;
       border-radius: 20px;
    }
}

@keyframes pictureTransform2 {
    0%{
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
       transform: translate(100px, 0px);
        opacity: 0.8;
        border-radius: 20px;
    }
}

@keyframes pictureTransform3 {
    0%{
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0.8;
       transform: translate(150px, 0px);
       border-radius: 20px;
    }
}

@keyframes pictureTransform4 {
    0%{
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0.8;
       transform: translate(200px, 0px);
       border-radius: 20px;
    }
}

@keyframes style {
    0% {
        text-shadow: 0 0 0px ;
        
    }

    20% {
        text-shadow: 
        2px 2px 60px rgb(162, 83, 214),
        2px -2px 60px rgb(162, 83, 214),
        -2px -2px 60px rgb(162, 83, 214);
        
    }
    30% {
         text-shadow: 0 0 0px ;
    }

    50% {
        text-shadow: 
         2px 2px 60px orange,
        2px -2px 60px orange,
        -2px -2px 60px orange;
    }

    60% {
        text-shadow: 0 0 0px ;
    }
    
    80% {
         text-shadow: 
         2px 2px 60px yellow,
        2px -2px 60px yellow,
        -2px -2px 60px yellow;
    }

}
