@use "base";

@keyframes pictureTransform {
    0% {
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translate(5px, 0px);
        opacity: 0.8;

    }
}

@keyframes pictureTransform2 {
    0% {
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translate(10px, 0px);
        opacity: 0.8;

    }
}

@keyframes pictureTransform3 {
    0% {
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.8;
        transform: translate(20px, 0px);

    }
}

@keyframes pictureTransform4 {
    0% {
        transform: translate(0px, 0px);
        border-radius: 0;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.8;
        transform: translate(30px, 0px);

    }
}

@keyframes style {
    0% {
        text-shadow: 0 0 0px;

    }

    20% {
        text-shadow:
            2px 2px 60px rgb(162, 83, 214),
            2px -2px 60px rgb(162, 83, 214),
            -2px -2px 60px rgb(162, 83, 214);

    }

    30% {
        text-shadow: 0 0 0px;
    }

    50% {
        text-shadow:
            2px 2px 60px orange,
            2px -2px 60px orange,
            -2px -2px 60px orange;
    }

    60% {
        text-shadow: 0 0 0px;
    }

    80% {
        text-shadow:
            2px 2px 60px yellow,
            2px -2px 60px yellow,
            -2px -2px 60px yellow;
    }

}

@keyframes scale {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

@keyframes round {
    from {
    border-radius: 5px;
    }
    to{
    border-radius: 20%;
    }

}

