
/*----Desktopläge----*/
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
}

/*----Tabletläge----*/
@media screen and (min-width: 601px) and (max-width: 1024px) {}

/*--Mobil-läge--*/
@media screen and (max-width: 600px) {}