 @use "base";

/*----Desktopläge----*/
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

}

h1 {
    justify-self: center;
    font-size: 1.6rem;
}

p {
    justify-self: center;
}

section {
        display: grid;
        justify-items: center;

        p {
            padding-left: 0.5rem;
        }
    }




#aboutImage {
    display: block;
    justify-self: center;
    padding: 1rem 5rem 1rem 5rem;
}


/*----Mörkt läge----*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$color-dark-background;
        color: base.$color-text-background;
    }

    header {
        background-color: base.$color-dark-header;
    }
}

/*----Tabletläge----*/
@media screen and (min-width: 601px) and (max-width: 1024px) {


    h1 {
        font-size: 1.4rem;

    }

    h2 {
        font-size: 1.2rem;
    }

    h2,
    p {
        justify-self: center;
    }



    section {
        display: grid;
        justify-items: center;

        p {
            padding-left: 0.5rem;
        }
    }

}

/*--Mobil-läge--*/
@media screen and (max-width: 600px) {
    #photoWrapper {
        max-width: 90%;

    }

    h1 {
        font-size: 1.4rem;
        justify-self: center;
    }

    h2 {
        justify-self: center;
    }

    section {
        margin: 0.5rem;
    }

    p {
        padding-left: 0.5rem;
    }


}