 @use "base";
 @use "keyframes";

 /*----Desktopläge----*/
 body {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: auto 1fr;

 }

 h1 {
     justify-self: center;
     font-size: 1.6rem;
 }

 p {
     justify-self: center;
 }

 section {
     display: grid;
     justify-items: center;

     p {
         padding-left: 0.5rem;
     }
 }


 #aboutImage {
     display: block;
     justify-self: center;
     padding: 1rem 5rem 1rem 5rem;
 }

 /*Animeringssidan*/
 #mainAnimering {
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
 }

 /*Bilder animeringssidan*/

 .smallPictures {
    padding: 0.5rem;
    transition: 1s ease;
     @extend %opacity-none; 
     width: 100px;
     
 }

 
 #smallPic1 {
     animation: pictureTransform 5s linear 1s 1 forwards;
     
 }

 #smallPic2 {
    animation: pictureTransform2 5s linear 2s 1 forwards;
 }

 #smallPic3 {
    animation: pictureTransform3 5s linear 3s 1 forwards;
 }

 #smallPic4 {
    animation: pictureTransform4 5s linear 4s 1 forwards;
 }

.smallPictures:hover {
    
    width: 200px;
    cursor: pointer;
 }

 #windowPic {
     animation: pictureTransform 10s linear 1s 1 forwards, round 3s ease-in-out 1 forwards paused;
 }

 /*Heading animeringssidan*/
 #animationHeading {
    animation: style 10s linear infinite paused, scale 5s alternate infinite none paused;
 }

 /*StyleBtn*/
#styleBtn{
    opacity: 0;
    animation: style 10s linear infinite none paused, pictureTransform 5s linear 1s 1 forwards;
}



 /*----Header----*/
 .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

/*----Hamburgermeny----*/
#hamburger {
    display: none;
}


 /*----Tabletläge----*/
 @media screen and (min-width: 601px) and (max-width: 1024px) {


     h1 {
         font-size: 1.4rem;

     }

     h2 {
         font-size: 1.2rem;
     }

     h2,
     p {
         justify-self: center;
     }



     section {
         display: grid;
         justify-items: center;

         p {
             padding-left: 0.5rem;
         }
     }

 }

 /*--Mobil-läge--*/
 @media screen and (max-width: 600px) {
     #photoWrapper {
         max-width: 90%;

     }

     h1 {
         font-size: 1.4rem;
         justify-self: center;
     }

     h2 {
         justify-self: center;
     }

     section {
         margin: 0.5rem;
     }

     p {
         padding-left: 0.5rem;
     }

     /*Hamburger*/
     #hamburger{
         display: block;
     }

     .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
     }

      .topnav.responsive .nav-links {
        display: flex;
    }

    .topnav.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

     .topnav.responsive nav {
        order: 2;
        justify-self: end;
    }

     #hamburger img {
        width: 100%;
        max-width: 30px;
    }

    #logo {
        font-size: 1.2rem;
    }

    #windowPic{
         @include base.box-size (100%, 250px, false);
         padding-left: 25px;
       
    }

    .smallPictures {
    padding: 0.4rem;
     width: 50px;
     
 }
   
    
    #mainAbout p {
        width: 85%;
        padding-right: 0.5rem;
    }

    /*storlek på main animeringssida*/
    #mainAnimering {
        width: 100%;
        max-width: 300px;
    }

    /*Miniatyrbilder animeringssidan*/
    .smallPictures:hover {
    width: 70px;
    
 }


 }

 /*----Mörkt läge----*/
 @media (prefers-color-scheme: dark) {
     body {
         background-color: base.$color-dark-background;
         color: base.$color-text-background;
     }

     header {
         background-color: base.$color-dark-header;
     }

     #logo {
         color: base.$color-text-background;
     }

     #logo:hover {
    text-shadow: 2px 2px 20px base.$color-text-background;
}
 }